<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Uploader</title>
</head>

<body>

<h1>Spring Boot file upload example</h1>

<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="files" multiple style="margin-bottom: 10px"/>
    <br>
    Group files in directory (optional): <input type="text" name="directory" style="margin-bottom: 15px" />
    <br>
    <button type="submit">Submit</button>
</form>

<div th:if="${uploadPath}">
    <h2 style="color: #1fe53c">Successfully uploaded files to: <span th:text="${uploadPath}"></span></h2>
</div>

</body>
</html>
